<div style="width: 100%;height: 100%;position: absolute;z-index: 9999;" [hidden]="!loading">
  <i class="fas fa-circle-notch fa-spin text-primary" style="font-size:24px; margin-left: 47%;"></i>
</div>

<div class="row pb-4">
  <div class="col">
    <div class="input-group input-group-sm rounded-lg shadow-sm">
      <input #searchText type="text" required="required"
        class="form-control form-control-sm" placeholder="Kms search by keyword" (keydown.enter)="searchKB(searchText.value)" style="height:auto;">
      <div class="input-group-btn">
        <button class="btn btn-outline-primary btn-sm" type="button" (click)=searchKB(searchText.value)>
            <span class="oi oi-magnifying-glass fa-sm fa-fw"></span>
        </button>
      </div>
    </div>
  </div>
</div>
