<div id="content">
    <!-- <sa-big-breadcrumbs [items]="['Contacts']" icon="users" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </sa-big-breadcrumbs>  class="col-xs-12 col-sm-5 col-md-5 col-lg-8 my-auto" --> 
    <div  style="text-align: right">
      <button type="button" [disabled]="!hasAddPermission"
        [className]="(!(showDetail || addcontact) ? 'btn btn-labeled btn-success' : '')"
        [hidden]="showDetail || addcontact"  (click)="OpenContactForm()" style="font-size: .8rem !important;">
        <span class="btn-label">
          <i class="fas fa-plus"></i>
        </span>
        Add Contact
      </button>
    </div>

  <section id="widgets-grid">
    <div class="row">
      <article class="col-sm-24 col-md-24 col-lg-12 padding-5">
        <div id='w' class="card" [@flyInOut]="'in'">
          <div class="card-body">
            <div class="card-title d-flex noprint p-2 lead-sm">
              <div class="flex-fill"><i class="fas fa-cog"></i>&nbsp;Manage Contacts</div>
              <div [hidden]="showDetail || addcontact">
                  <a class="btn btn-link btn-xs text-primary" (click)="reloadDataTable()">
                      <i class="fas fa-redo"></i>
                  </a>
              </div>
            </div>
            <div>
              <app-contact-list #contactlist (onSetHide)="onShowDetail($event)"
                (onSelectItem)="onSelectedContact($event)" [hidden]="showDetail || addcontact" [ApiKey]="apiKey"
                [JsonApiService]="jsonApiService" [ParentObjName]="parentObjName" [ParentObjID]="parentObjID"
                [ObjectStatus]="objectStatus"></app-contact-list>
              <app-contact-detail (onSetHide)="onShowDetail($event)" [hidden]="!showDetail" [ApiKey]="apiKey"
                [JsonApiService]="jsonApiService" [ContactData]="contactSelected"></app-contact-detail>
              <app-contact-add (onCancelContact)="onHideAddForm($event)" [hidden]="!addcontact" [ApiKey]="apiKey"
                [JsonApiService]="jsonApiService"></app-contact-add>
            </div>
          </div>
        </div>
        <!-- end widget -->
      </article>
    </div>
  </section>
</div>