<div class="row p-0 mb-3">
  <div class="col-9 p-0">
    <div class="input-group input-group-sm shadow-sm">
      <input [(ngModel)]="searchtext" type="text" class="form-control form-control-sm"
        aria-label="Amount (to the nearest dollar)" (keydown.enter)="search()">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary btn-sm bordered" (click)="search()">
          <span class="oi oi-magnifying-glass fa-sm fa-fw"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-3 p-0 text-right">
    <div class="btn-group btn-group-sm bordered p-0 rounded-lg shadow-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-secondary btn-sm border-bottom-0 border-left-0 border-top-0 border-right outline-none" (click)="PageMinus()" [ngClass]="{'disabled' : pagenumber <= 1 }" [disabled]="pagenumber <= 1">
        <span class="oi oi-chevron-left fa-xs fa-fw"></span>
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm border-0 outline-none" (click)="PageAdd()" [ngClass]="{'disabled' : pagenumber >= maxPage }" [disabled]="pagenumber >= maxPage">
        <span class="oi oi-chevron-right fa-xs fa-fw"></span>
      </button>
    </div>

  </div>
</div>

<div style="width: 100%;height: 100%;position: absolute;z-index: 9999;" [hidden]="!loading">
  <i class="fas fa-circle-notch fa-spin text-primary" style="font-size:24px; margin-left: 47%;"></i>
</div>

<div class="row p-0">
  <div class="col p-0 pb-3">
    <div *ngIf="dataSource.length>0" class="table-responsive shadow">
      <table class="table bordered">
        <tr>
          <th class="lead-xs font-weight-bolder" *ngFor="let disCol of displayedColumns; let i = index;" scope="col"
            [ngClass]="{'showinfullscreen' : i > 3 }">
            {{disCol.Title}}
          </th>
        </tr>
        <tr *ngFor="let element of dataSource; let rowindex = index;">
          <td *ngFor="let disCol of displayedColumns; let i = index;"
            [ngClass]="{'showinfullscreen' : i > 3, 'text-secondary': rowindex % 2 == 0, 'text-dark': rowindex % 2 != 0 }"
            (click)="toggleExpand($event)">
           <p *ngIf="disCol.Type==11 || disCol.Type==12"> {{element[disCol.Name] | date:'dd MMM yyyy'}}</p>
           <p *ngIf="disCol.Type!=11 && disCol.Type!=12">{{element[disCol.Name]}}</p>
          </td>
          <span class="d-none">
            <div class="card shadow">
              <div class="card-body">
                <div class="d-flex flex-column">
                  <div class="form-group row p-2 m-0 border-bottom" *ngFor="let col of displayedColumns;">
                    <label
                      class="col-4 col-form-label font-weight-bold text-nowrap text-right p-0 pr-2 border-right">{{col.Title}}</label>
                    <div class="col-7 p-0 pl-2" *ngIf="col.Type==11 || col.Type==12" [innerHTML]="element[col.Name] | date:'dd MMM yyyy'"></div>
                    <div class="col-7 p-0 pl-2"*ngIf="col.Type!=11 && col.Type!=12"  [innerHTML]="element[col.Name]"></div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </tr>
      </table>
    </div>
    <div [ngClass]="{'display-none' : !NoRecords }" *ngIf="dataSource.length<=0">
      <span>No record found!
      </span>
    </div>
  </div>
</div>