<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Change Password']" icon="key" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" style="text-align: right">
            <button (click)="updatepassword()" [disabled]="loading===true" class="btn btn-success my-2" type="button">
                Change Password
            </button>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="col-xs-24 col-sm-10 col-md-10 col-lg-10">
                <form class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">
                                <strong>Current Password</strong>
                            </label>
                            <label class="input">
                                <i class="icon-append fa fa-key"></i>
                                <input type="password" [(ngModel)]="oldpassword" [ngModelOptions]="{standalone: true}" placeholder="Please enter Current password"
                                    class="form-control" rows="2">
                            </label>
                        </section>
                        <section>
                            <label class="label">
                                <strong>New Password</strong>
                            </label>
                            <label class="input" [ngClass]="{'state-error': passwordVerifyError()}">
                                <i class="icon-append fa fa-key"></i>
                                <input type="password" [(ngModel)]="newpassword" type="password" [ngModelOptions]="{standalone: true}" placeholder="Please enter New Password"
                                    class="form-control" rows="2">
                            </label>
                        </section>
                        <section>
                            <label class="label">
                                <strong>Verify Password</strong>
                            </label>
                            <label class="input" [ngClass]="{'state-error': passwordVerifyError()}">
                                <i class="icon-append fa fa-key"></i>
                                <input type="password" [(ngModel)]="retypepassword" [ngModelOptions]="{standalone: true}" placeholder="Please verify password"
                                    class="form-control" rows="2">
                            </label>
                        </section>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>
<div style="width: 100px; margin:auto; position:absolute; top:44%; left:46%; z-index:99;" [ngClass]="{'display-none' : !loading }">
    <i class="fas fa-circle-notch fa-spin text-primary" style="font-size:24px;"></i>
</div>